<h1 class = "text-center">about us </h1>
<p class = "text-center text-block">
 Telephone directories have been around
 ever since telephones came into existence.
 Since nobody could remember many numbers, the numbers had to be stored.
 In our telephone systems a central telephone book is integrated,
 which solves the contact administration for you comfortably and unproblematically.
 You can easily store customer contacts in your telephone
 system and access them from all supported end devices.
 Join us on the journey to the future.
</p>
